/* RESET CSS */
* {
	box-sizing: border-box;
	margin: 0;
}

body,
input {
	font-family: 'Caveat', cursive;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
}

input {
	background-color: inherit;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #E5E7E9;
}

input:focus {
	background-color: inherit;
  border-color: blue;
}

ul,
ol {
	padding-left: 0;
	list-style: none;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.main-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

/* LEFT TIME */

.left-title {
	font-size: 80px;
	color: #FFF;
}

.left-seconds {
	font-size: 40px;
	color: #E5E7E9;
}

.left-age-question {
	font-size: 40px;
	text-align: center;
	color: #E5E7E9;
}

.left-age-question:focus {
	border-bottom: solid 2x blue;
}

/* BackGround */

